[package]
name = "markdown-composer"
version = "0.1.0"
authors = ["Andy Russell <arussell123@gmail.com>"]
description = "A complete solution for previewing markdown."

[dependencies]
aurelius = "0.1.5"
docopt = "0.6"
log = "0.3.1"
log4rs = "0.3.3"
rmp = "0.7.3"
rmp-serialize = "0.7.0"
rustc-serialize = "0.3"
